[submodule "external/libxsmm"]
	path = external/libxsmm
	url = https://github.com/libxsmm/libxsmm.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/iree"]
	path = external/iree
	url = https://github.com/iree-org/iree.git
